.content {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 235px;
  height: 143px;
  padding: 14px 24px;
  border-radius: 12px;

  color: white;
  background-color: #1c1803;
}

.content.disabled {
  filter: grayscale(1);
}

.token {
  margin-bottom: 5px;
}

.title {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.4;

  margin: 0 0 4px;
}

.button {
  margin-right: auto;
  margin-top: auto;
  padding-right: 18px;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;

  color: #CCC19C;

  background-image: url(../../../../shared/assets/images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.button:disabled {
  cursor: not-allowed;
}

@media screen and (max-width: 991px) {
  .content {
    width: 100%;
    max-width: 343px;
    height: 155px;
    padding: 17px 14px 20px;
  }
}
