.map {
  width: 100%;
  height: 100%;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  overflow: auto;

  cursor: grabbing;
  user-select: none;
}

.map::-webkit-scrollbar {
  display: none;
}

.background {
  position: relative;

  width: 1920px;
  height: 1080px;

  background-image: url(../../../../shared/assets/images/big-map.jpg);
}

.previewBlock {
  position: absolute;
  z-index: 2;
}

.previewBlock.active .previewBlockButton {
  width: 35px;
  height: 36px;

  margin: 0 0 0 12px;
}

.previewBlock.active {
  display: flex;
  align-items: center;

  width: 283px;
  margin: 0 0 0 -235px;
  margin-top: -25px;
}

.previewBlock:nth-child(1) {
  top: 89px;
  left: 474px;
}

.previewBlock:nth-child(2) {
  top: 221px;
  left: 580px;
}

.previewBlock:nth-child(3) {
  top: 200px;
  left: 900px;
}

.previewBlock:nth-child(4) {
  top: 374px;
  left: 658px;
}

.previewBlock:nth-child(5) {
  top: 406px;
  left: 1217px;
}

.previewBlock:nth-child(6) {
  top: 503px;
  left: 1017px;
}

.previewBlock:nth-child(7) {
  top: 613px;
  left: 887px;
}

.previewBlock:nth-child(8) {
  top: 671px;
  left: 600px;
}

.previewBlock:nth-child(9) {
  top: 841px;
  left: 986px;
}

.previewBlock:nth-child(10) {
  top: 665px;
  left: 1300px;
}

.previewBlock:nth-child(11) {
  top: 863px;
  left: 1325px;
}

/* Settings */

.previewBlock.active:nth-child(2) {
  margin: 0 -235px 0 0;
}

.previewBlock.active:nth-child(2) .previewBlockButton {
  order: -1;
  margin: 0 12px 0 0;
}

.previewBlock.active:nth-child(3) {
  margin: 0 -235px 0 0;
}

.previewBlock.active:nth-child(3) .previewBlockButton {
  order: -1;
  margin: 0 12px 0 0;
}

.previewBlock.active:nth-child(4) .modulePreview {
  position: relative;
  top: 100px;
  left: 140px;
}

.previewBlock.active:nth-child(6) {
  margin: 0 -235px 0 0;
}

.previewBlock.active:nth-child(6) .modulePreview {
  top: 30px;
  position: relative;
}

.previewBlock.active:nth-child(6) .previewBlockButton {
  order: -1;
  margin: 0 12px 0 0;
}


.previewBlock.active:nth-child(7) .modulePreview {
  position: relative;
  top: 100px;
  left: 140px;
}

.previewBlock.active:nth-child(8) .modulePreview {
  position: relative;
  top: 100px;
  left: 140px;
}

.previewBlock.active:nth-child(9) .modulePreview {
  position: relative;
  top: 100px;
  left: 140px;
}


.previewBlock.active:nth-child(10) {
  margin: 0 -235px 0 0;
}

.previewBlock.active:nth-child(10) .previewBlockButton {
  order: -1;
  margin: 0 12px 0 0;
}

.previewBlock.active:nth-child(11) {
  margin: 0 -235px 0 0;
}

.previewBlock.active:nth-child(11) .previewBlockButton {
  order: -1;
  margin: 0 12px 0 0;
}

/* ModuleController */
.controller {
  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 0px 16px 12px;

  background-image: linear-gradient(179.77deg, rgba(0, 0, 0, 0) 0.2%, rgba(0, 0, 0, 0.84) 91.5%);
  backdrop-filter: blur(2px);

  z-index: 3;
}

.content {
  width: 100%;
  max-width: 343px;
  height: 155px;
  padding: 17px 14px 20px;
  border-radius: 12px;

  color: white;
  background-color: #1c1803;
  background-image: url(../../shared/assets/images/preview/module-1.png);
}

.moduleTitle {
  margin-bottom: 5px;
}

.title {
  font-weight: 800;
  font-size: 1.6rem;
  line-height: 1.4;
}

.buttonLink {
  padding-right: 18px;

  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4;

  color: #CCC19C;

  background-image: url(../../shared/assets/images/arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.moduleWrapper {
  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 0px 16px 25px;
}

.backButton {
  position: absolute;
  top: 30px;
  left: 50px;
}
