.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100%;
  padding: 25px 16px;

  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;

  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.inner {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.content {
  position: relative;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;

  width: 40px;
  height: 40px;

  z-index: 2;
}

.closeButton::before,
.closeButton::after {
  content: '';

  position: absolute;
  left: 50%;

  display: block;
  width: 16px;
  height: 2px;

  background-color: #ffffff;
}

.closeButton::before {
  transform: translateX(-50%) rotate(45deg);
}

.closeButton::after {
  transform: translateX(-50%) rotate(-45deg);
}

.enterDone {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.exit {
  opacity: 0;
  visibility: hidden;
}
