.body {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 862px;
  min-height: 368px;

  padding: 28px 40px 35px 280px;
  border-radius: 18px;

  color: white;
  background-color: rgba(0, 0, 0, 0.753);
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

.token {
  margin-right: 25px;
}

.title {
  margin: -10px 0 0;
  max-width: 250px;
  font-size: 2rem;
  line-height: 140%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  margin-bottom: 21px;
}

.item {
  position: relative;

  flex-shrink: 0;

  padding: 10px;
  border-radius: 8px;

  color: #FFFFFF;
  font-size: 16px;
  line-height: 24px;

  background-image:
    linear-gradient(166.2deg, #C29931 -23.29%, rgba(19, 19, 19, 0) 31.06%),
    linear-gradient(353.39deg, #C29931 -12.34%, rgba(19, 19, 19, 0) 26.01%);
}

.item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 1px solid transparent;
  background:
    linear-gradient(85.26deg, #442C05 -19.66%, #E3C67C 44.4%, #5F4311 106.69%) border-box,
    linear-gradient(96.04deg, #CCAB00 -1.72%, rgba(54, 36, 0, 0) 49.87%, #CCAB00 111.56%) border-box;
  -webkit-mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.button {
  position: relative;

  display: inline-flex;
  padding: 26px;
  margin: auto auto 0 0;

  border: 0;
  border-radius: 12px;

  box-shadow: 0px 1px 25px 2px rgba(225, 139, 38, 0.25);
  background-color: #86632F;

  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;

  z-index: 2;

  -webkit-appearance: none;
  appearance: none;

  cursor: pointer;
}

.button:hover,
.button:focus,
.button:visited {
  color: inherit;
  text-decoration: none;
}

.button::before {
  content: '';

  position: absolute;
  top: -3px;
  left: 0;

  width: 100%;
  height: 100%;

  border-radius: 7px;

  background-image: linear-gradient(85.26deg, #442C05 -19.66%, #E3C67C 44.4%, #5F4311 106.69%);

  z-index: -1;
}

@media screen and (max-width: 991px) {
  .body {
    width: 350px;
    margin-top: auto;
    padding: 18px 18px 25px;
    border-radius: 6px;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .token {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .title {
    font-size: 1.6rem;
  }

  .list {
    flex-direction: column;
    align-items: flex-start;
  }

  .item {
    font-size: 14px;
  }

  .button {
    width: 307px;
    height: 66px;
    justify-content: center;
    align-items: center;
  }
}
